.post-patient, .delete-patient, .patch-patient {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.starter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.get-patient {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center;
}

#patient-table {
    width: 70%;
    border-collapse: collapse;
}
  
#patient-table th, #patient-table td {
    padding: 3px;
    border: 1px solid black;
}